<template name="screenshots">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="images/screenshot-1.jpg" alt="">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="images/screenshot-2.jpg" alt="">
                <h3>Thumbnail label</h3>
                <p>...</p>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="images/screenshot-3.jpg" alt="">
            <h3>Thumbnail label</h3>
            <p>...</p>
        </a>
    </div>
    </div>
</template>